:root {
    --main-color: #E8BA65;
    --gold-color: #DAA520;
    --dark-gray: #D3D3D3;
    --light-gray: #F5F5F5;
    --white: #FFF;
    --white-20: #343449cc;
    --black: #000;
    --text-shadow-black: -3px 0 2px var(--black), 0 3px 2px var(--black), 3px 0 2px var(--black), 0 -3px 2px var(--black);
    --text-shadow-gold: -3px 0 2px var(--gold-color), 0 3px 2px var(--gold-color), 3px 0 2px var(--gold-color), 0 -3px 2px var(--gold-color);
}

@font-face {
    font-family: 'h1';
    src: url(./fonts/PTC75F.ttf);
}

@font-face {
    font-family: 'h2';
    src: url(./fonts/PTN57F.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    color: var(--white);
    font-family: 'h2';

}

img {
    width: 200px;
}

.btn {
    text-decoration: none;
    color: var(--white);
    background: var(--main-color);
    padding: .7rem 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 20px;
    margin: 2rem;
    border: none;
    transition: .3s ease;
    cursor: pointer;
}

.btn:hover {
    color: var(--main-color);
    background: var(--white);
}



/*  home section */
.home,
.about {
    display: flex;
    align-items: center;
    flex-direction: column;

    background: url(./images/dumbbell-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.home h1 {
    font-size: 6rem;
    font-family: 'h1';
    text-shadow: var(--text-shadow-black);
    margin-top: 3rem;
}

.home h2,
.home h3 {
    font-size: 3rem;
    color: var(--gold-color);
    text-shadow: var(--text-shadow-black);
    margin-bottom: 2rem;
}

.home .video {
    width: 60%;
    height: 700px;
    margin-bottom: 2rem;
}

.home h3 {
    font-size: 2.3rem;
}

.home p {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 2rem;
    width: 70%;
}



/* about setion  */
.sectionHeader {
    background: var(--main-color);
    color: var(--white);
    text-shadow: var(--text-shadow-gold);
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    width: 100%;
}

.topContetnt,
.testimonialWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 3rem;
    gap: 1rem;
    padding: 2rem;
}

.topContetnt .left {
    padding: 2rem;
}

.topContetnt .left .title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-align: justify;
}

.topContetnt .left p {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    text-align: justify;
}

.topContetnt .right,
.testimonial-right {
    display: flex;
    justify-content: center;
    align-items: center;

}

.topContetnt .right img,
.testimonial-right img {
    width: 80%;
}

.testimonial {
    background: var(--white);
    width: 100%;
    color: var(--black);
}

.testimonial .title {
    background: var(--light-gray);
    color: var(--black);
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    width: 100%;
}

.testimonial-left {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-align: justify;
}

.name {
    font-size: 2rem;
    color: var(--gold-color);
}

.testimonial-left p {
    font-size: 1.3rem;
    font-style: italic;
}


/*  info section */
.info {
    background: url(./images/dumbbell-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem  0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartWrapper {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.card {
    background: var(--white-20);
    padding: 2rem;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.card img {
    width: 40%;
    margin-bottom: 1rem;
}
.card h2 {
 text-shadow: var(--text-shadow-black);
 margin-bottom: .8rem;
}
.card p {
    text-shadow: var(--text-shadow-black);
    text-align: center;
    font-size: 1rem;
}
